@charset "UTF-8";
  
  header {
    width: 1000px;
    margin: 0;
    padding: 0;
    background-color: #ffcccc; 
  }
  
  #wrapper {
      width: 1000px;
      margin: 0;
      padding: 0;
      display: flex;
  }
  
  #main {
      width: 70%;
      margin: 0;
      padding: 0;
      background-color: #ccffcc;
  }
  
  #menu {
      width: 30%;
      margin: 0;
      padding: 0;
      background-color: #ccccff;
  }
  
  footer{
    width: 1000px;
    margin: 0;
    padding: 0;
    background-color: 	#ffccff;
  }